html,
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

/**
 * Animate collapse into X.
 */
/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

/**
 * Animate collapse open into hamburger menu
 */
/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

.cusbtn {
  background: #c0272a 0% 0% no-repeat padding-box;
  border-radius: 7px;
  font-size: 12px;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 5px 8px 14px 1px #0000006e;
}
.cusbtn:hover {
  color: white;
}
.cusbtn:focus {
  box-shadow: none;
}

.mega-menu {
  position: static;
}

.navbar .navbar-toggler {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-menu .dropdown-item:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #c1272a;
  transition: width 0.3s;
  border: none;
}
.dropdown-menu .dropdown-item:hover {
  color: #c1272a;
}
.dropdown-menu .dropdown-item:hover:after {
  width: 100%;
}
.dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c1272a !important;
}

.navbar-light {
  height: 90px;
  background-color: white;
  padding: 0 2rem;
  z-index: 999;
  box-shadow: 0px 0px 4px 1px #00000014;
  z-index: 99999;
}
.navbar-light a.navbar-brand {
  position: relative;
  padding-right: 1.5rem;
}
.navbar-light a.navbar-brand::after {
  content: "";
  width: 1px;
  background: #eee;
  height: 2.45rem;
  right: 0rem;
  position: absolute;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  padding-right: 1.1rem;
  padding-left: 1.1rem;
  letter-spacing: 0px;
  color: #222436;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  /* font-family: "Montserrat-Medium", sans-serif; */
  transition: 0.4s;
}
.navbar-light .navbar-nav .nav-item .nav-link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #c1272a;
  transition: width 0.3s;
  border: none;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #c1272a;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover:after {
  width: 100%;
}
.navbar-light .mega-menu {
  position: absolute;
  box-shadow: 0px 3px 20px #00000029;
  left: 1rem;
  min-width: max-content;
  padding: 1.5rem 1rem;
  right: 0;
  border: 0;
  border-radius: 0;
  top: 4rem;
  margin-top: 0;
}
.navbar-light .mega-menu .dropdown-item {
  color: #14354a;
  padding: 0.8rem 1.5rem;
  padding-right: 1.1rem;
  padding-left: 1.1rem;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid transparent;
}

.bd-masthead .headerLeftText {
  padding: 9rem 0;
}
.bd-masthead .headerLeftText h1 {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.bd-masthead .headerLeftText p {
  color: #14354a;
  font-size: 16px;
  margin-bottom: 2rem;
  font-weight: 500;
}

.loaderImg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999999;
  background: white;
}
.loaderImg #loaderImage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, -30px);
  }
}
@-moz-keyframes bounce {
  from {
    -moz-transform: translate(0px, 0px);
  }
  to {
    -moz-transform: translate(0px, -30px);
  }
}
.bounce {
  display: block;
  border-radius: 20px;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: bounce;
  -moz-animation-duration: 0.3s;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: infinite;
}

.sectionFour {
  margin: 2rem 0;
  overflow-x: hidden;
  position: relative;
}
.sectionFour .getInAwards {
  padding: 12px 2rem;
  padding-bottom: 0;
}
.sectionFour .getInAwards .imgTop img {
  width: 255px;
  height: 255px;
  padding: 1rem;
}
.sectionFour .getInAwards .imgBottom {
  margin-top: 2rem;
}
.sectionFour .getInAwards .imgBottom img {
  width: 100%;
  height: 280px;
}
.sectionFour .getInAwards .row {
  margin-bottom: 1rem;
}
.sectionFour .getInAwards .gt-title {
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}
.sectionFour .getInAwards .imgCon {
  position: relative;
}
.sectionFour .getInAwards .imgCon .awardsDesc {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  width: 87.5%;
  color: white;
  opacity: 0;
  margin: 0;
  margin: 1rem;
  padding: 1rem;
  transition: 0.3s;
}
.sectionFour .getInAwards .imgCon:hover .awardsDesc {
  opacity: 1;
  bottom: 0;
}

.sectionThree {
  background: transparent url("../assets/images/Group 13.svg") 0% 0% no-repeat padding-box;
  padding-bottom: 3rem;
  overflow-x: hidden;
}
.sectionThree .homeLaptop {
  width: 110%;
}
.sectionThree .sthreeRight {
  padding: 6rem 2rem 0 5rem;
}
.sectionThree .sthreeRight img {
  margin-bottom: 2rem;
}
.sectionThree .sthreeRight h1 {
  font-size: 28px;
  margin-bottom: 1rem;
}
.sectionThree .sthreeRight h1 span {
  font-weight: 700;
}

footer {
  background: rgba(236, 238, 244, 0.4);
  overflow: hidden;
}
footer .footerLeft {
  padding-left: 5rem !important;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
footer .footerLeft .footerLogo {
  margin-top: 2rem;
}
footer .footerLeft .contentBottom {
  flex: 1;
  align-items: flex-end;
  padding-bottom: 2rem;
}
footer .footerLeft .footerDesc {
  text-align: left;
  letter-spacing: 0px;
  color: #14354a !important;
  font-size: 12px;
  margin: 1rem 0 3rem 0;
  font-weight: 600;
}
footer .footerAddress .subAddress {
  padding-right: 6rem;
}
footer .footerAddress h1 {
  text-align: left;
  letter-spacing: -0.5px;
  color: #c0272a;
  text-transform: uppercase;
  opacity: 1;
  font-weight: 700;
  font-size: 12px;
}
footer .footerAddress .addTitle {
  text-align: left;
  letter-spacing: 0px;
  color: #14354a;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
}
footer .footerAddress p {
  font-size: 12px;
}
footer .footerRight {
  background: #eceef4;
  padding-left: 5rem !important;
  padding-top: 1rem;
}
footer .footerRight .footerLinksTitle {
  color: #14354a;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 1;
  font-weight: 700;
}
footer .footerRight ul {
  padding-left: 0;
}
footer .footerRight ul li {
  list-style: none;
  margin-bottom: 0;
}
footer .footerRight ul li a {
  text-decoration: none;
  color: #14354a;
  font-size: 11px;
}

.bottomFooter {
  background: #c0272a;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bottomFooter ul {
  padding-left: 0;
  margin: 0;
}
.bottomFooter ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1rem;
}
.bottomFooter ul li a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.headerBottomCon p {
  font-weight: 600;
}
.headerBottomCon p span {
  font-weight: 500;
  display: block;
  font-size: 14px;
}

.sectionTwo {
  padding: 6rem 0;
  overflow-x: hidden;
}
.sectionTwo h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.sectionTwo .secTwoContent {
  padding-left: 8rem;
}
.sectionTwo p {
  font-size: 14px;
}

#map {
  height: 100%;
  width: 100%;
}

.sliderCont {
  margin: 0 1rem;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px #00000017;
}
.sliderCont .sliderTextCon {
  padding: 1rem;
}
.sliderCont .slImg {
  position: relative;
  z-index: -1;
  height: 200px;
  overflow: hidden;
}
.sliderCont .slImg img {
  width: 100%;
  height: 100%;
}
.sliderCont .slImg .sloverlay {
  position: absolute;
  width: 103%;
  bottom: -2rem;
  left: -1px;
  background: #ffffffb0;
  z-index: 2;
  height: 100px;
  transform: rotate(174deg);
  backdrop-filter: blur(5px);
}
.sliderCont a {
  letter-spacing: 0.08px;
  color: #c0272a;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
}

.home-main-slider2 .slick-dots {
  transform: rotate(-4deg);
  text-align: left;
  overflow: hidden;
  z-index: 0;
}

.home-main-slider2 .slick-dots li {
  width: 6rem;
  height: 5px;
  background: #f4d2d4;
  margin: 0;
  position: relative;
  font-size: 0;
  border-radius: 0;
}

.home-main-slider2 .slick-dots li:first-child {
  background: #cb333a;
}

.home-main-slider2 .slick-dots li.progress,
.home-main-slider2 .slick-dots li.slick-active {
  background: #cb333a;
}

.home-main-slider2 .slick-dots li button {
  display: none;
}

.sectionOne {
  position: relative;
}
.sectionOne .scrolldownimage {
  position: absolute;
  right: 2%;
  z-index: 9;
  bottom: 40%;
}

.serSectionOne {
  padding: 4rem 0;
  overflow-x: "hidden";
}
.serSectionOne .divOverlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.serSectionOne .mainHeaderImage {
  margin-top: -5rem;
  position: relative;
}
.serSectionOne .mainHeaderImage .headerImage {
  width: 100%;
}
.serSectionOne .mainHeaderImage .serviceHeaderTitle {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  height: fit-content;
  color: white;
  width: fit-content;
  padding: 1rem;
  font-size: 38px;
  text-decoration: none;
}
.serSectionOne .mainHeaderImage .servicesHeaderOverlay {
  position: absolute;
  width: 100%;
  height: max-content;
  left: 0;
  right: 0;
  top: 0.2rem;
  display: none;
}

.serSectionTwo {
  overflow-x: hidden;
}
.serSectionTwo p {
  font-size: 16px;
}
.serSectionTwo .serSTOne {
  padding-right: 4rem;
}
.serSectionTwo .serSTOne a {
  color: #c0272a;
  font-weight: 700;
}
.serSectionTwo .customerTextTitle {
  text-align: center;
  font-size: 16px;
  padding: 0 4rem;
}

.sectionOverflow {
  overflow: visible;
}
.sectionOverflow .serSectionRight {
  height: 110%;
}

.serSectionRight {
  padding: 4rem 2.5rem 4rem 2.5rem;
  background: #f2f3f7;
  height: 100%;
}
.serSectionRight ul {
  padding-left: 0;
}
.serSectionRight ul li {
  list-style: none;
  border-bottom: 1px solid #dedede;
}
.serSectionRight ul li a {
  display: block;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  margin: 1rem 0;
  padding: 0 1rem;
  font-weight: 600;
  color: #14354a;
  font-size: 14px;
}
.serSectionRight .cusbtn {
  padding: 1rem 3rem;
  margin-top: 1rem;
}

.productText p {
  font-size: 16px;
}

.custAccordion .accordion-item .accordion-button {
  outline: none;
  border: none;
  color: #14354a;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
}
.custAccordion .accordion-item .accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.custAccordion .accordion-item .accordion-body {
  padding: 2rem 1.25rem;
  font-size: 14px;
}
.custAccordion .accordion-item .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
}
.custAccordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.customerGrievancePage {
  margin-top: 5rem;
}
.customerGrievancePage p {
  font-size: 16px;
  color: #14354a;
}
.customerGrievancePage .cusContact span {
  color: #c0272a;
  font-weight: 600;
}
.customerGrievancePage .cusEscalation span {
  display: block;
  font-weight: 600;
}
.customerGrievancePage .cusEscalationDetails {
  font-weight: 600;
}

.aboutUsSectionTwo {
  overflow-x: hidden;
}
.aboutUsSectionTwo .aleftBlock h1 {
  color: #c0272a;
  font-size: 18px;
  font-weight: 600;
}
.aboutUsSectionTwo .aleftBlock p {
  font-size: 14px;
  color: #14354a;
}
.aboutUsSectionTwo .aleftBlock hr {
  color: #c0272a;
}

.sectionFive {
  overflow-x: hidden;
}
.sectionFive .col-md-6 {
  padding: 0;
}

.officeAddress {
  padding: 3rem 0rem;
  background: #f2f3f7;
}
.officeAddress h1 {
  color: #14354a;
  font-size: 22px;
  font-weight: 600;
  padding-left: 0;
}
.officeAddress p {
  color: #251c40;
  font-size: 13px;
  margin-bottom: 2rem;
}

.aboutContent {
  padding: 2rem 4rem;
}
.aboutContent p {
  font-size: 14px;
  color: #14354a;
  margin-bottom: 2rem;
  font-weight: 500;
}

.aboutusLeftContainer {
  background: #f2f3f7;
}

.navbar-left {
  float: left;
  margin-left: 15px;
}

.getInTouch {
  display: block;
}

.gitMobile {
  display: none;
}
.gitMobile .accordion-item {
  background-color: transparent;
  border: none;
}

.mobileSlider {
  padding: 0 3rem;
  display: none;
}

.fourIconBox {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .fourIconBox {
    margin: 0;
  }

  .fourIconPadding {
    padding: 1rem 3rem;
    padding-bottom: 0;
  }

  .desktopHomeSlider {
    display: none;
  }

  .mobileSlider {
    display: block;
  }

  .scrolldownimage {
    display: none;
  }

  .googlemapM {
    height: 100% !important;
  }
  .googlemapM img {
    margin-bottom: 2rem;
  }

  .contactForm textarea {
    margin-bottom: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 9px;
    background: transparent;
    color: #fff;
    padding: 1rem 1rem;
  }
  .contactForm .getInTouch {
    display: none;
  }
  .contactForm .gitMobile {
    display: block;
  }
  .contactForm .gitMobile .getInTouchFormCont {
    display: block;
    padding: 0;
  }
  .contactForm .gitMobile .getInTouchFormCont button {
    width: 100%;
  }

  .headerBottomCon {
    padding: 1rem 2rem;
  }

  .homeHead {
    height: 600px !important;
  }

  .officeAddress {
    padding: 1rem;
  }

  main .contactForm {
    margin-top: 0;
    overflow: hidden;
    height: inherit;
  }
  main .contactForm .getInTouch {
    width: 100%;
    left: 0;
    position: relative;
  }
  main .contactForm .googlemap {
    width: 100%;
    position: relative;
    left: inherit;
    height: 400px;
  }

  .navbar-light .dropdown .dropdown-toggle {
    margin-bottom: 1rem !important;
  }
  .navbar-light .cusDropMenu .dropdown-menu {
    margin-bottom: 1rem;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    padding: 1rem;
    top: 3.7rem;
  }
  .navbar-light .cusDropMenu .dropdown-menu li a {
    font-size: 20px;
  }
  .navbar-light .mega-menu {
    position: relative;
    box-shadow: none;
    margin-left: 1rem;
    left: 0;
    min-width: max-content;
    padding: 0;
    right: 0;
    border: 0;
    border-radius: 0;
    top: 0;
    margin-top: 0;
  }
  .navbar-light .mega-menu .row {
    display: block;
  }
  .navbar-light .mega-menu .row .col-6 {
    width: inherit;
  }
  .navbar-light .mega-menu .row .col-6 .dropdown-item {
    font-size: 20px;
  }

  .navbar-collapse {
    position: fixed;
    top: 5rem;
    background: white;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .navbar-collapse .navbar-nav {
    padding: 3rem;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    margin-bottom: 2rem;
    font-family: "Ubuntu", sans-serif;
    color: #14354a !important;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
  }

  .socialIcons {
    display: none;
  }

  .parallax-window {
    min-height: 400px !important;
    padding: 0 !important;
    background-size: 150% 100% !important;
  }

  /* For mobile phones: */
  .secTwoContent {
    text-align: left !important;
    padding: 4rem !important;
  }

  .mobileSec .col-md-6 {
    padding: 0;
  }
  .mobileSec .sthreeRight {
    padding: 3rem;
    background: #f2f3f7;
  }
  .mobileSec .sthreeRight img {
    width: 100%;
  }

  .sectionThree {
    padding-bottom: 0;
  }

  .sectionFour {
    margin-top: 0;
  }
  .sectionFour .getInTouch {
    padding-bottom: 2rem !important;
    padding: 3rem;
  }
  .sectionFour .getInAwards {
    padding-top: 3rem;
  }

  footer .footerLeft {
    padding: 3rem !important;
    background: #eceef4;
  }
  footer .footerLeft .footerAddress {
    padding-top: 2rem;
  }
  footer .footerRight {
    padding: 1rem 3rem 3rem 3rem !important;
  }
  footer .footerRight .footerLinksTitle {
    margin-top: 2rem;
  }

  .productServiceleft {
    padding: 1rem 0rem !important;
  }

  .serSectionOne {
    padding: 10rem 0 !important;
    padding-bottom: 0 !important;
  }
  .serSectionOne .mainHeaderImage {
    margin-top: -5rem;
    position: relative;
  }
  .serSectionOne .mainHeaderImage .serviceHeaderTitle {
    width: 80%;
    font-size: 28px;
  }
  .serSectionOne .mainHeaderImage .headerImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .serSectionOne .mainHeaderImage .servicesHeaderOverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-top: -4rem;
    object-fit: unset;
    height: 487px;
    width: 830px;
  }

  .custAccordion .accordion-item .accordion-button {
    padding-right: 1rem;
  }

  .serSectionTwo {
    padding: 1rem;
  }
  .serSectionTwo .customerTextTitle {
    padding: 0 1rem 3rem 1rem;
  }
  .serSectionTwo .serSTOne {
    padding: 0rem;
  }
  .serSectionTwo .serviceHightlight {
    padding: 3rem;
  }

  .serSectionRight {
    display: none;
  }

  .customerGrievancePage {
    margin-top: 0;
    padding: 2rem;
  }

  .navbar {
    border: none;
    padding: 0;
  }
  .navbar .navbar-toggler {
    border: none;
  }
  .navbar button {
    margin-right: 1rem;
  }
  .navbar .container-fluid {
    justify-content: normal;
  }
  .navbar .container-fluid a:after {
    display: none;
  }

  .bd-masthead .headerLeftText {
    padding: 3rem 3rem !important;
    padding-bottom: 0 !important;
  }
}
.homeHead {
  background: #f2f3f7;
  position: absolute;
  width: 100%;
  height: 500px;
}

.cusDropMenu .dropdown-menu {
  margin-bottom: 1rem;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 0;
  border: 0;
  padding: 1rem;
  top: 3.7rem;
}
.cusDropMenu .dropdown-menu li {
  margin-bottom: 1rem;
}
.cusDropMenu .dropdown-menu li a {
  font-weight: 600;
  font-size: 14px;
}

.socialIcons ul {
  padding-left: 0;
  margin: 0;
}
.socialIcons ul li {
  display: inline-block;
}
.socialIcons ul li a {
  margin-right: 0.5rem;
}
.socialIcons ul li a img {
  border: 0;
  height: 25px;
}

.addressTitle {
  font-weight: 600;
}

.parallax-window {
  min-height: 600px;
  background: transparent;
  /* position: relative; */
  width: 100%;
  padding: 0 35rem;
  min-width: 100%;
}

.productServices {
  padding-bottom: 0;
}

.productServiceleft {
  padding: 3rem 4rem;
}
.productServiceleft .productSerhead {
  font-weight: 500;
  color: #14354a;
}

iframe {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

.topPadding {
  margin-top: 5rem;
}

.home-main-slider .slick-dots li {
  width: 33.33% !important;
  height: 7rem;
}

.slick-dotted.slick-slider {
  margin-top: 1rem;
}

.aboutusLeftMain {
  background: rgba(236, 238, 244, 0.4);
}
.aboutusLeftMain hr {
  width: 80%;
  margin: 0 auto;
  height: 2px;
  color: #c1272a;
  opacity: 1;
}
.aboutusLeftMain .aleftBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: CENTER;
  padding: 3rem 4rem;
  text-align: CENTER;
}
.aboutusLeftMain .aleftBlock .alertImg {
  margin-bottom: 3rem;
}
.aboutusLeftMain .aleftBlock h1 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 2rem;
}
.aboutusLeftMain .aleftBlock p {
  font-size: 16px;
}

.serviceHightlight {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  padding: 2rem;
}
.serviceHightlight h1 {
  font-size: 14px;
  margin-bottom: 1rem;
}
.serviceHightlight ul {
  padding-left: 0;
}
.serviceHightlight ul li {
  font-size: 14px;
  margin-bottom: 1rem;
}
.serviceHightlight p {
  font-weight: 600;
}

.csrSection {
  padding: 5rem;
}
.csrSection .csrSectionTitle {
  margin-bottom: 2rem;
  font-family: "Ubuntu", sans-serif;
}

.aboutUsHightligh .col-md-6 {
  padding: 2rem;
}
.aboutUsHightligh .col-md-6 h1 {
  line-height: 2rem;
  margin-bottom: 2rem;
}
.aboutUsHightligh .col-md-6 ul li {
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.bodContain {
  text-align: CENTER;
  padding: 0.5rem;
}
.bodContain .bodProfileImg {
  position: relative;
}
.bodContain .bodProfileImg img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.bodContain p {
  box-shadow: 0px 3px 6px #00000029;
  padding: 1rem 0.2rem;
  position: absolute;
  bottom: -5rem;
  font-weight: 600;
  font-size: 16px;
  background: white;
  width: 100%;
}
.bodContain p span {
  display: block;
  font-weight: 400;
  font-size: 14px;
}

.mySwiperAbout {
  height: 350px;
}
.mySwiperAbout .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: white;
  border: 4px solid #c0272a;
  opacity: 1;
}
.mySwiperAbout .swiper-pagination-bullet-active {
  background: #c0272a;
}

.bodD {
  font-size: 40px;
  color: #251c40;
  margin: 3rem 0 2rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.bodD-sub {
  font-size: 28px;
  color: #14354a;
  margin-bottom: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.dropdown-menu {
  top: 5rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

.showContactForm {
  display: block !important;
  flex-basis: 60% !important;
  opacity: 1 !important;
}

.getInTouchWidth {
  width: 80% !important;
}
.getInTouchWidth .listContentContact {
  flex-basis: 40% !important;
}

.contactForm {
  height: 780px;
}
.contactForm .googlemap {
  width: 65%;
  height: 100%;
  left: 35%;
  position: absolute;
}
.contactForm .getInTouch {
  background-image: url("../assets/images/getintouchbg.png");
  background-size: cover;
  padding-left: 3rem;
  padding-top: 2rem;
  position: absolute;
  width: 35%;
  height: 100%;
  z-index: 9999;
  transition: width 1s;
  left: 0;
}
.contactForm .getInTouch .overlayGetIntouch {
  position: ABSOLUTE;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.contactForm .getInTouch .sf-title {
  font-size: 40px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-family: 700;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.contactForm .getInTouch .sf-list {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(254, 254, 254, 0.1);
  width: 100%;
  cursor: pointer;
  padding-left: 2rem;
  border-left: 3px solid transparent;
  opacity: 0.6;
  -webkit-appearance: none;
  appearance: none;
}
.contactForm .getInTouch .sf-list:hover {
  border-left: 3px solid white;
  opacity: 1;
}
.contactForm .getInTouch .sf-list img {
  margin-bottom: 1rem;
}
.contactForm .getInTouch .sf-list h1 {
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.contactForm .getInTouch .sf-list p {
  font-size: 12px;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.contactForm .listContentContact {
  flex-basis: 100%;
}
.contactForm .getInTouchFormCont {
  z-index: 999999;
  transition: width 2s;
  flex-basis: 0%;
  display: none;
  padding: 0rem 3rem;
}
.contactForm .getInTouchFormCont h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.contactForm .getInTouchFormCont p {
  font-size: 14px;
  color: #fff;
}
.contactForm .getInTouchFormCont .getInTouchForm {
  margin-top: 3rem;
  overflow-y: scroll;
  height: 450px;
  padding-right: 1rem;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.contactForm .getInTouchFormCont .getInTouchForm::-webkit-scrollbar {
  width: 10px;
}
.contactForm .getInTouchFormCont .getInTouchForm::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.contactForm .getInTouchFormCont .getInTouchForm::-webkit-scrollbar-thumb {
  background: #2752753d;
  border-radius: 10px;
}
.contactForm .getInTouchFormCont .getInTouchForm::-webkit-scrollbar-thumb:hover {
  background: #275275;
}
.contactForm .getInTouchFormCont .getInTouchForm ::-webkit-input-placeholder {
  color: #fff;
}
.contactForm .getInTouchFormCont .getInTouchForm ::-moz-placeholder {
  color: #fff;
}
.contactForm .getInTouchFormCont .getInTouchForm ::-ms-placeholder {
  color: #fff;
}
.contactForm .getInTouchFormCont .getInTouchForm ::placeholder {
  color: #fff;
}
.contactForm .getInTouchFormCont .getInTouchForm textarea {
  margin-bottom: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 9px;
  background: transparent;
  color: #fff;
  padding: 1rem 1rem;
}
.contactForm .getInTouchFormCont .getInTouchForm input {
  margin-bottom: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 9px;
  background: transparent;
  color: #fff;
  padding: 1rem 1rem;
}
.contactForm .getInTouchFormCont .getInTouchForm input:focus {
  outline: 0;
}
.contactForm .getInTouchFormCont .getInTouchForm button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 7px;
  color: #c0272a;
  outline: 0;
  padding: 1rem 1.5rem;
  font-weight: 600;
  border: none;
}
.contactForm .getInTouchFormCont .getInTouchForm button:focus {
  outline: none;
}

.backBtnContainer {
  margin-bottom: 4rem;
}
.backBtnContainer .gobackform {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  /* align-items: CENTER; */
  /* display: block; */
  line-height: 12px;
  color: white;
  justify-content: revert;
  float: right;
  cursor: pointer;
  margin-bottom: 2rem;
}
.backBtnContainer .gobackform span {
  margin-right: 0.5rem;
}
.backBtnContainer .gobackform:hover {
  color: white;
}

.formTypeBorder {
  border-left: 3px solid white !important;
  opacity: 1 !important;
}

.getInHomePage {
  height: 780px;
}
.getInHomePage .getInTouch {
  width: 40%;
}
.getInHomePage .googlemap {
  width: 60%;
  left: 40%;
}

.parallax-window {
  overflow: hidden;
}

.breadcrumb li a {
  color: #938897;
  margin-right: 1rem;
  text-decoration: none;
}

.pageTitle {
  padding: 2rem 4rem;
}