<html>
    <body>
        <table rules="all" style="border-color: #cec6c6;" cellpadding="10">
            <tr style='background: #eee;'>
                <td><strong>Enquiry:</strong> </td>
                <td>{{Enquiry}}</td>
            </tr>
            <tr style='background: #eee;'>
                <td><strong>Name:</strong> </td>
                <td>{{Name}}</td>
            </tr>
            <tr>
                <td><strong>Email</strong> </td>
                <td>{{Email}}</td>
            </tr>
            <tr>
                <td><strong>Mobile</strong> </td>
                <td>{{Mobile}}</td>
            </tr>
            <tr style='background: #eee;'>
                <td><strong>Category</strong> </td>
                <td>{{Category}}</td>
            </tr>
            <tr>
                <td><strong>State</strong> </td>
                <td>{{State}}</td>
            </tr>
            <tr>
                <td><strong>City</strong> </td>
                <td>{{City}}</td>
            </tr>
            <tr>
                <td><strong>Message</strong> </td>
                <td>{{Message}}</td>
            </tr>
        </table>
    </body>
</html>
