// ::placeholder {
//     color: red;
// }

html,
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
.navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

/**
 * Animate collapse into X.
 */

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}

/**
 * Animate collapse open into hamburger menu
 */

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

.cusbtn {
    background: #c0272a 0% 0% no-repeat padding-box;
    border-radius: 7px;
    font-size: 12px;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 5px 8px 14px 1px #0000006e;
    &:hover {
        color: white;
    }
    &:focus {
        box-shadow: none;
    }
}

.mega-menu {
    position: static;
}

.navbar .navbar-toggler {
    border: none;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    .dropdown-item {
        &:after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background: #c1272a;
            transition: width 0.3s;
            border: none;
        }
        &:hover {
            // border-bottom: 1px solid rgb(34 36 54 / 16%);
            color: #c1272a;
            &:after {
                width: 100%;
            }
        }
        &:hover {
            background: transparent;
            color: #c1272a !important;
        }
    }
}
.navbar-light {
    height: 90px;
    background-color: white;
    padding: 0 2rem;
    z-index: 999;
    box-shadow: 0px 0px 4px 1px #00000014;
    z-index: 99999;
    a.navbar-brand {
        position: relative;
        padding-right: 1.5rem;
        &::after {
            content: "";
            width: 1px;
            background: #eee;
            height: 2.45rem;
            right: 0rem;
            position: absolute;
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                padding-right: 1.1rem;
                padding-left: 1.1rem;
                letter-spacing: 0px;
                color: #222436;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                /* font-family: "Montserrat-Medium", sans-serif; */
                // border-bottom: 1px solid transparent;
                transition: 0.4s;
                &:after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 1px;
                    background: #c1272a;
                    transition: width 0.3s;
                    border: none;
                }
                &:hover {
                    // border-bottom: 1px solid rgb(34 36 54 / 16%);
                    color: #c1272a;
                    &:after {
                        width: 100%;
                    }
                }
            }
            // .dropdown-toggle {
            //     &::after {
            //         display: none !important;
            //     }
            // }
        }
    }

    .mega-menu {
        position: absolute;
        box-shadow: 0px 3px 20px #00000029;
        left: 1rem;
        min-width: max-content;
        padding: 1.5rem 1rem;
        right: 0;
        border: 0;
        border-radius: 0;
        top: 4rem;
        margin-top: 0;
        .dropdown-item {
            color: #14354a;
            padding: 0.8rem 1.5rem;
            padding-right: 1.1rem;
            padding-left: 1.1rem;
            letter-spacing: 0px;
            font-weight: 600;
            font-size: 14px;
            border-bottom: 1px solid transparent;
        }
    }
}

.bd-masthead {
    .headerLeftText {
        padding: 9rem 0;
        h1 {
            font-weight: bold;
            font-family: "Ubuntu", sans-serif;
        }
        p {
            color: #14354a;
            font-size: 16px;
            margin-bottom: 2rem;
            font-weight: 500;
        }
    }
}
// .navbar-nav li:hover > .dropdown-menu {
//     display: block;
// }

.loaderImg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999999;
    background: white;
    #loaderImage {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate(0px, 0px);
    }
    to {
        -webkit-transform: translate(0px, -30px);
    }
}

@-moz-keyframes bounce {
    from {
        -moz-transform: translate(0px, 0px);
    }
    to {
        -moz-transform: translate(0px, -30px);
    }
}

.bounce {
    display: block;
    border-radius: 20px;
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: bounce;
    -moz-animation-duration: 0.3s;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
}
.sectionFour {
    margin: 2rem 0;
    overflow-x: hidden;
    position: relative;
    .getInAwards {
        padding: 12px 2rem;
        padding-bottom: 0;
        .imgTop {
            img {
                width: 255px;
                height: 255px;
                padding: 1rem;
            }
        }
        .imgBottom {
            margin-top: 2rem;
            img {
                width: 100%;
                height: 280px;
            }
        }
        .row {
            margin-bottom: 1rem;
        }
        .gt-title {
            font-weight: 600;
            font-family: "Ubuntu", sans-serif;
        }
        .imgCon {
            position: relative;
            .awardsDesc {
                position: absolute;
                bottom: 0px;
                background: rgba(0, 0, 0, 0.6);
                width: 87.5%;
                color: white;
                opacity: 0;
                margin: 0;
                margin: 1rem;
                padding: 1rem;
                transition: 0.3s;
            }
            &:hover {
                .awardsDesc {
                    opacity: 1;
                    bottom: 0;
                }
            }
        }
    }
}

.sectionThree {
    background: transparent url("../assets/images/Group 13.svg") 0% 0% no-repeat padding-box;
    padding-bottom: 3rem;
    overflow-x: hidden;
    .homeLaptop {
        width: 110%;
    }
    .sthreeRight {
        padding: 6rem 2rem 0 5rem;
        img {
            margin-bottom: 2rem;
        }
        h1 {
            font-size: 28px;
            margin-bottom: 1rem;
            span {
                font-weight: 700;
            }
        }
    }
}

footer {
    background: rgb(236 238 244 / 40%);
    overflow: hidden;
    .footerLeft {
        padding-left: 5rem !important;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        .footerLogo {
            margin-top: 2rem;
        }
        .contentBottom {
            flex: 1;
            align-items: flex-end;
            padding-bottom: 2rem;
        }
        .footerDesc {
            text-align: left;
            letter-spacing: 0px;
            color: #14354a !important;
            font-size: 12px;
            margin: 1rem 0 3rem 0;
            font-weight: 600;
        }
    }

    .footerAddress {
        .subAddress {
            padding-right: 6rem;
        }
        h1 {
            text-align: left;
            letter-spacing: -0.5px;
            color: #c0272a;
            text-transform: uppercase;
            opacity: 1;
            font-weight: 700;
            font-size: 12px;
        }
        .addTitle {
            text-align: left;
            letter-spacing: 0px;
            color: #14354a;
            font-weight: 700;
            font-size: 12px;
            margin: 0;
        }
        p {
            font-size: 12px;
        }
    }

    .footerRight {
        background: #eceef4;
        padding-left: 5rem !important;
        padding-top: 1rem;
        .footerLinksTitle {
            color: #14354a;
            font-size: 11px;
            text-transform: uppercase;
            opacity: 1;
            font-weight: 700;
        }
        ul {
            padding-left: 0;
            li {
                list-style: none;
                margin-bottom: 0;
                a {
                    text-decoration: none;
                    color: #14354a;
                    font-size: 11px;
                }
            }
        }
    }
}

.bottomFooter {
    background: #c0272a;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    ul {
        padding-left: 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            padding: 0 1rem;
            a {
                color: white;
                text-decoration: none;
                font-size: 10px;
            }
        }
    }
}

.headerBottomCon {
    // padding-top: 1rem;
    p {
        font-weight: 600;
        span {
            font-weight: 500;
            display: block;
            font-size: 14px;
        }
    }
}

.sectionTwo {
    padding: 6rem 0;
    overflow-x: hidden;
    h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 28px;
        font-weight: 700;
    }
    .secTwoContent {
        padding-left: 8rem;
    }
    p {
        font-size: 14px;
    }
}
#map {
    height: 100%;
    width: 100%;
}
.sliderCont {
    margin: 0 1rem;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px #00000017;
    .sliderTextCon {
        padding: 1rem;
        // box-shadow: 0px 1px 3px 0px #00000017;
    }
    .slImg {
        position: relative;
        z-index: -1;
        height: 200px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
        .sloverlay {
            position: absolute;
            width: 103%;
            bottom: -2rem;
            left: -1px;
            background: #ffffffb0;
            z-index: 2;
            height: 100px;
            transform: rotate(174deg);
            backdrop-filter: blur(5px);
        }
    }
    a {
        letter-spacing: 0.08px;
        color: #c0272a;
        font-size: 14px;
        text-decoration: none;
        font-weight: 700;
    }
}
.home-main-slider2 .slick-dots {
    transform: rotate(-4deg);
    text-align: left;
    overflow: hidden;
    z-index: 0;
}

.home-main-slider2 .slick-dots li {
    width: 6rem;
    height: 5px;
    background: #f4d2d4;
    margin: 0;
    position: relative;
    font-size: 0;
    border-radius: 0;
}

.home-main-slider2 .slick-dots li:first-child {
    background: #cb333a;
}

.home-main-slider2 .slick-dots li.progress,
.home-main-slider2 .slick-dots li.slick-active {
    background: #cb333a;
}

.home-main-slider2 .slick-dots li button {
    display: none;
}
.sectionOne {
    position: relative;
    .scrolldownimage {
        position: absolute;
        right: 2%;
        z-index: 9;
        bottom: 40%;
    }
}
.serSectionOne {
    padding: 4rem 0;
    overflow-x: "hidden";

    .divOverlay {
        background: rgb(0 0 0 / 0%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .mainHeaderImage {
        margin-top: -5rem;
        position: relative;
        .headerImage {
            width: 100%;
        }
        .serviceHeaderTitle {
            position: absolute;
            left: 0;
            right: 0;
            top: 55%;
            bottom: 0;
            margin: 0 auto;
            text-align: center;
            background: rgba(0, 0, 0, 0.6);
            height: fit-content;
            color: white;
            width: fit-content;
            padding: 1rem;
            font-size: 38px;
            text-decoration: none;
        }
        .servicesHeaderOverlay {
            position: absolute;
            width: 100%;
            height: max-content;
            left: 0;
            right: 0;
            top: 0.2rem;
            display: none;
        }
    }
}

.serSectionTwo {
    overflow-x: hidden;
    p {
        font-size: 16px;
    }

    .serSTOne {
        padding-right: 4rem;
        a {
            color: #c0272a;
            font-weight: 700;
        }
    }

    // customer grievance page
    .customerTextTitle {
        text-align: center;
        font-size: 16px;
        padding: 0 4rem;
    }
}
.sectionOverflow {
    overflow: visible;
    .serSectionRight {
        height: 110%;
    }
}
.serSectionRight {
    padding: 4rem 2.5rem 4rem 2.5rem;
    background: #f2f3f7;
    height: 100%;
    ul {
        padding-left: 0;
        li {
            list-style: none;
            border-bottom: 1px solid #dedede;
            a {
                display: block;
                font-family: "Ubuntu", sans-serif;
                text-decoration: none;
                margin: 1rem 0;
                padding: 0 1rem;
                font-weight: 600;
                color: #14354a;
                font-size: 14px;
            }
        }
    }
    .cusbtn {
        padding: 1rem 3rem;
        margin-top: 1rem;
    }
}

.productText {
    p {
        font-size: 16px;
    }
}

.custAccordion {
    .accordion-item {
        .accordion-button {
            outline: none;
            border: none;
            color: #14354a;
            background-color: white;
            font-size: 16px;
            font-weight: 600;
            &:focus {
                box-shadow: none;
                border-color: rgba(0, 0, 0, 0.125);
                background-color: white;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }
        }
        .accordion-body {
            padding: 2rem 1.25rem;
            font-size: 14px;
        }
        .accordion-button::after {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
            transform: scale(0.7) !important;
        }
        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
        }
    }
}

.customerGrievancePage {
    margin-top: 5rem;
    p {
        font-size: 16px;
        color: #14354a;
    }
    .cusContact {
        span {
            color: #c0272a;
            font-weight: 600;
        }
    }
    .cusEscalation {
        span {
            display: block;
            font-weight: 600;
        }
    }

    .cusEscalationDetails {
        font-weight: 600;
    }
}

.aboutUsSectionTwo {
    overflow-x: hidden;
    .aleftBlock {
        h1 {
            color: #c0272a;
            font-size: 18px;
            font-weight: 600;
        }
        p {
            font-size: 14px;
            color: #14354a;
        }
        hr {
            color: #c0272a;
        }
    }
}

.sectionFive {
    overflow-x: hidden;
    .col-md-6 {
        padding: 0;
    }
}
.officeAddress {
    padding: 3rem 0rem;
    background: #f2f3f7;

    h1 {
        color: #14354a;
        font-size: 22px;
        font-weight: 600;
        padding-left: 0;
    }
    p {
        color: #251c40;
        font-size: 13px;
        margin-bottom: 2rem;
    }
}

.aboutContent {
    padding: 2rem 4rem;
    p {
        font-size: 14px;
        color: #14354a;
        margin-bottom: 2rem;
        font-weight: 500;
    }
}

.aboutusLeftContainer {
    background: #f2f3f7;
}

.navbar-left {
    float: left;
    margin-left: 15px;
}
.getInTouch {
    display: block;
}
.gitMobile {
    display: none;
    .accordion-item {
        background-color: transparent;
        border: none;
    }
}

.mobileSlider {
    padding: 0 3rem;
    display: none;
}
.fourIconBox {
    margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
    .fourIconBox {
        margin: 0;
    }
    .fourIconPadding {
        padding: 1rem 3rem;
        padding-bottom: 0;
    }
    .desktopHomeSlider {
        display: none;
    }
    .mobileSlider {
        display: block;
    }
    .scrolldownimage {
        display: none;
    }
    .googlemapM {
        height: 100% !important;
        img {
            margin-bottom: 2rem;
        }
    }
    .contactForm {
        textarea {
            margin-bottom: 2rem;
            border: 1px solid rgba(255, 255, 255, 0.28);
            border-radius: 9px;
            background: transparent;
            color: #fff;
            padding: 1rem 1rem;
        }
        .getInTouch {
            display: none;
        }
        .gitMobile {
            display: block;
            .getInTouchFormCont {
                display: block;
                padding: 0;
                button {
                    width: 100%;
                }
            }
        }
    }
    .headerBottomCon {
        padding: 1rem 2rem;
    }
    .homeHead {
        height: 600px !important;
    }
    .officeAddress {
        padding: 1rem;
    }
    main {
        .contactForm {
            margin-top: 0;
            overflow: hidden;
            height: inherit;
            .getInTouch {
                width: 100%;
                left: 0;
                position: relative;
            }
            .googlemap {
                width: 100%;
                position: relative;
                left: inherit;
                height: 400px;
            }
        }
    }
    .navbar-light {
        .dropdown {
            .dropdown-toggle {
                margin-bottom: 1rem !important;
            }
        }
        .cusDropMenu {
            .dropdown-menu {
                margin-bottom: 1rem;
                box-shadow: none;
                border-radius: 0;
                border: 0;
                padding: 1rem;
                top: 3.7rem;
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
        .mega-menu {
            position: relative;
            box-shadow: none;
            margin-left: 1rem;
            left: 0;
            min-width: max-content;
            padding: 0;
            right: 0;
            border: 0;
            border-radius: 0;
            top: 0;
            margin-top: 0;
            .row {
                display: block;
                .col-6 {
                    width: inherit;
                    .dropdown-item {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .navbar-collapse {
        position: fixed;
        top: 5rem;
        background: white;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        .navbar-nav {
            padding: 3rem;
            .nav-item {
                .nav-link {
                    font-size: 20px;
                    margin-bottom: 2rem;
                    font-family: "Ubuntu", sans-serif;
                    color: #14354a !important;
                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .socialIcons {
        display: none;
    }
    .parallax-window {
        min-height: 400px !important;
        padding: 0 !important;
        background-size: 150% 100% !important;
    }
    /* For mobile phones: */
    .secTwoContent {
        text-align: left !important;
        padding: 4rem !important;
    }
    .home-main-slider {
    }
    .mobileSec {
        .col-md-6 {
            padding: 0;
        }
        .sthreeRight {
            padding: 3rem;
            background: #f2f3f7;
            img {
                width: 100%;
            }
        }
    }
    .sectionThree {
        padding-bottom: 0;
    }
    .sectionFour {
        margin-top: 0;
        .getInTouch {
            padding-bottom: 2rem !important;
            padding: 3rem;
        }
        .getInAwards {
            padding-top: 3rem;
        }
    }

    footer {
        .footerLeft {
            padding: 3rem !important;
            background: #eceef4;
            .footerAddress {
                padding-top: 2rem;
            }
        }
        .footerRight {
            padding: 1rem 3rem 3rem 3rem !important;

            .footerLinksTitle {
                margin-top: 2rem;
            }
        }
    }
    .productServiceleft {
        padding: 1rem 0rem !important;
    }
    .serSectionOne {
        padding: 10rem 0 !important;
        padding-bottom: 0 !important;
        .mainHeaderImage {
            margin-top: -5rem;
            position: relative;
            .serviceHeaderTitle {
                width: 80%;
                font-size: 28px;
            }
            .headerImage {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .servicesHeaderOverlay {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin-top: -4rem;
                object-fit: unset;
                height: 487px;
                width: 830px;
            }
        }
    }
    .custAccordion {
        .accordion-item {
            .accordion-button {
                padding-right: 1rem;
            }
        }
    }
    .serSectionTwo {
        padding: 1rem;
        .customerTextTitle {
            padding: 0 1rem 3rem 1rem;
        }
        .serSTOne {
            padding: 0rem;
        }
        .serviceHightlight {
            padding: 3rem;
        }
    }
    .serSectionRight {
        display: none;
    }
    .customerGrievancePage {
        margin-top: 0;
        padding: 2rem;
    }
    // .getInTouchFormCont{
    //     padding: 4rem 1rem !important;
    // }

    .navbar {
        border: none;
        padding: 0;
        .navbar-toggler {
            border: none;
        }
        button {
            margin-right: 1rem;
        }
        .container-fluid {
            justify-content: normal;
            a {
                &:after {
                    display: none;
                }
            }
        }
    }
    .bd-masthead {
        .headerLeftText {
            padding: 3rem 3rem !important;
            padding-bottom: 0 !important;
        }
    }
}

.homeHead {
    background: #f2f3f7;
    position: absolute;
    width: 100%;
    height: 500px;
}

.cusDropMenu {
    .dropdown-menu {
        margin-bottom: 1rem;
        box-shadow: 0px 3px 20px #00000029;
        border-radius: 0;
        border: 0;
        padding: 1rem;
        top: 3.7rem;
        li {
            margin-bottom: 01rem;
            a {
                font-weight: 600;
                font-size: 14px;
            }
        }
    }
}
.socialIcons {
    ul {
        padding-left: 0;
        margin: 0;
        li {
            display: inline-block;
            a {
                margin-right: 0.5rem;
                img {
                    border: 0;
                    height: 25px;
                }
            }
        }
    }
}

.addressTitle {
    font-weight: 600;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
    /* position: relative; */
    width: 100%;
    padding: 0 35rem;
    min-width: 100%;
}

.productServices {
    padding-bottom: 0;
}

.productServiceleft {
    padding: 3rem 4rem;
    .productSerhead {
        font-weight: 500;
        color: #14354a;
    }
}

iframe {
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0;
}

.topPadding {
    margin-top: 5rem;
}

.home-main-slider {
    .slick-dots {
        li {
            width: 33.33% !important;
            height: 7rem;
        }
    }
}

.slick-dotted.slick-slider {
    margin-top: 1rem;
}

.aboutusLeftMain {
    background: rgb(236 238 244 / 40%);
    hr {
        width: 80%;
        margin: 0 auto;
        height: 2px;
        color: #c1272a;
        opacity: 1;
    }
    .aleftBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: CENTER;
        padding: 3rem 4rem;
        text-align: CENTER;
        .alertImg {
            margin-bottom: 3rem;
        }
        h1 {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 2rem;
        }
        p {
            font-size: 16px;
        }
    }
}

.serviceHightlight {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 40px;
    padding: 2rem;
    h1 {
        font-size: 14px;
        margin-bottom: 1rem;
    }
    ul {
        padding-left: 0;
        li {
            font-size: 14px;
            margin-bottom: 1rem;
        }
    }
    p {
        font-weight: 600;
    }
}

.csrSection {
    padding: 5rem;
    .csrSectionTitle {
        margin-bottom: 2rem;
        font-family: "Ubuntu", sans-serif;
    }
}

.aboutUsHightligh {
    .col-md-6 {
        padding: 2rem;
        h1 {
            line-height: 2rem;
            margin-bottom: 2rem;
        }
        ul {
            li {
                font-weight: 600;
                font-size: 16px;
                color: #222222;
                line-height: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

.bodContain {
    text-align: CENTER;
    padding: 0.5rem;
    .bodProfileImg {
        position: relative;
        img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
        }
    }
    p {
        box-shadow: 0px 3px 6px #00000029;
        padding: 1rem 0.2rem;
        position: absolute;
        bottom: -5rem;
        font-weight: 600;
        font-size: 16px;
        background: white;
        width: 100%;
        span {
            display: block;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

.mySwiperAbout {
    height: 350px;
    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background: white;
        border: 4px solid #c0272a;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #c0272a;
    }
}

.bodD {
    font-size: 40px;
    color: #251c40;
    margin: 3rem 0 2rem;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
}

.bodD-sub {
    font-size: 28px;
    color: #14354a;
    margin-bottom: 3rem;
    font-family: "Ubuntu", sans-serif;
}

.dropdown-menu {
    top: 5rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}

.showContactForm {
    display: block !important;
    flex-basis: 60% !important;
    opacity: 1 !important;
}

.getInTouchWidth {
    width: 80% !important;
    .listContentContact {
        flex-basis: 40% !important;
    }
}

.contactForm {
    height: 780px;
    .googlemap {
        width: 65%;
        height: 100%;
        left: 35%;
        position: absolute;
    }
    .getInTouch {
        background-image: url("../assets/images/getintouchbg.png");
        background-size: cover;
        padding-left: 3rem;
        padding-top: 2rem;
        position: absolute;
        width: 35%;
        height: 100%;
        z-index: 9999;
        transition: width 1s;
        left: 0;
        .overlayGetIntouch {
            position: ABSOLUTE;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
        .sf-title {
            font-size: 40px;
            color: white;
            font-family: "Ubuntu", sans-serif;
            font-family: 700;
            margin-bottom: 2rem;
            padding-left: 2rem;
        }
        .sf-list {
            margin: 1rem 0;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(254 254 254 / 10%);
            width: 100%;
            cursor: pointer;
            padding-left: 2rem;
            border-left: 3px solid transparent;
            opacity: 0.6;
            -webkit-appearance: none;
            appearance: none;
            &:hover {
                border-left: 3px solid white;
                opacity: 1;
            }
            img {
                margin-bottom: 1rem;
            }
            h1 {
                font-weight: bold;
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                color: white;
            }
            p {
                font-size: 12px;
                color: white;
                font-family: "Montserrat", sans-serif;
            }
        }
    }
    .listContentContact {
        flex-basis: 100%;
    }
    .getInTouchFormCont {
        z-index: 999999;
        transition: width 2s;
        flex-basis: 0%;
        display: none;
        padding: 0rem 3rem;
        h1 {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
        }
        p {
            font-size: 14px;
            color: #fff;
        }

        .getInTouchForm {
            margin-top: 3rem;
            overflow-y: scroll;
            height: 450px;
            padding-right: 1rem;
            &::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #2752753d;
                border-radius: 10px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #275275;
            }
            ::-webkit-input-placeholder {
                color: #fff;
            }

            ::-moz-placeholder {
                color: #fff;
            }

            ::-ms-placeholder {
                color: #fff;
            }

            ::placeholder {
                color: #fff;
            }
            textarea {
                margin-bottom: 2rem;
                border: 1px solid rgb(255 255 255 / 28%);
                border-radius: 9px;
                background: transparent;
                color: #fff;
                padding: 1rem 1rem;
            }
            input {
                margin-bottom: 2rem;
                border: 1px solid rgb(255 255 255 / 28%);
                border-radius: 9px;
                background: transparent;
                color: #fff;
                padding: 1rem 1rem;
                &:focus {
                    outline: 0;
                }
            }
            button {
                background: #ffffff 0% 0% no-repeat padding-box;
                border-radius: 7px;
                color: #c0272a;
                outline: 0;
                padding: 1rem 1.5rem;
                font-weight: 600;
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.backBtnContainer {
    margin-bottom: 4rem;
    .gobackform {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        /* align-items: CENTER; */
        /* display: block; */
        line-height: 12px;
        color: white;
        justify-content: revert;
        float: right;
        cursor: pointer;
        margin-bottom: 2rem;
        span {
            margin-right: 0.5rem;
        }
        &:hover {
            color: white;
            // text-decoration: underline;
        }
    }
}

.formTypeBorder {
    border-left: 3px solid white !important;
    opacity: 1 !important;
}

.getInHomePage {
    height: 780px;
    .getInTouch {
        width: 40%;
    }
    .googlemap {
        width: 60%;
        left: 40%;
    }
}

.parallax-window {
    overflow: hidden;
}

.breadcrumb {
    li {
        a {
            color: #938897;
            margin-right: 1rem;
            text-decoration: none;
        }
    }
}

.pageTitle {
    padding: 2rem 4rem;
    .serviceHeaderTitle {
    }
}
